<div class="form-main"> 
      <div class="form-group">
            <input type="text" class="form-control" placeholder="First Name" required="required" [(ngModel)]="fname">
            <input type="text" class="form-control" placeholder="Last Name" required="required" [(ngModel)]="lname">
            <input type="text" class="form-control" placeholder="Email" required="required" [(ngModel)]="email">
            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="pword">
            <button type="submit" class="btn btn-block signup" (click)="register()">Register</button>
      </div> 
</div>